.results-list {
    display: flex;
    flex-direction: column;
    padding: 1em;
    box-sizing: border-box;
    list-style-type: none;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  }
  
  /* .article-box {
    padding: 1.25em;
    border-radius: 8px;
    box-shadow: 8px 8px 3px rgba(0,0,0,0.1);
    border: 1px solid black;
  } */
  
  /* .article-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 0.5em;
    border: 1px solid black;
    border-radius: 8px;
    padding: 0.5em;
  }

  .right-group {
    display: flex;
    align-items: center;
    gap: 0.5em;
  }
  
  .article-text {
    border: 1px solid black;
    padding: 0.5em;
    border-radius: 8px;
    margin: 0;
  } */

/* .scroll-container {
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
  } */

  .article-tags {
    margin-top: 8px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    flex-wrap: wrap;
    gap: 6px;
  }
  
  .tag {
    background-color: #187897;
    color: white;
    padding: 3px 7px;
    border-radius: 20px;
    font-size: 0.80em;
  }
  
  
