/* tags under search bar */

.tag-filter {
    display: flex;
    justify-content: center; 
    align-items: center; 
    gap: 0.5em;
    flex-wrap: wrap;
    margin: 12px 10vw 0 10vw;
    padding: 0;
  }

div.tag-filter button.tag-button {
    font-size: 0.85em;
    border-radius: 20px;
    padding: 4px 12px;
    background-color:  white;
  }
  
div.tag-filter button.tag-button.selected {
  background-color: #eea8c3;
  color: black;
  border: 1px solid #eea8c3;
}

.tag-button:hover {
    background-color: #eea8c3;
}