/* tags under search bar */
.tag-filter {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5em;
    margin: 12px 10vw 0 10vw;
    padding: 0;
  }

div.tag-filter button.tag-button {
    font-size: 0.85em;
    border-radius: 20px;
    padding: 4px 12px;
    background-color:  white;
  }
  
div.tag-filter button.tag-button.selected {
  background-color: #eea8c3;
  color: black;
  border: 1px solid #eea8c3;
}

.tag-button:hover {
    background-color: #eea8c3;
}

.clear-button {
    padding: 8px 12px;
    border-radius: 10px;
    font-size: 0.85em;
    background-color: #98d5e9;
    border: 1px solid black;
    color: black;
    cursor: pointer;
    margin-left: 0.75em;
  }
  
  .clear-button:hover {
    background-color: white;
    border: 1px solid black;
  }